<h1>Registrate</h1>
<br>
<div class="container"><a href="/login">Login</a></div>
<br>
<div class="container">
    <form id="idFormRegistro">
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" required name="first_name">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" required name="last_name">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" required name="age">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" required name="email">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" required name="password">
            <br>
            <button type="submit" class="btn btn-dark">Registrarme</button>
        </div>
    </form>
</div>