<h1>Login</h1>

<br>
<div class="container">
 
  <a href="/registrate">Registrate</a>
  <br>
  <br>
  <form id="idFormLogin">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" required name="email">
      <label for="password" class="form-label">Password</label>
      <input type="text" class="form-control" required name="password">
      <br>
      <button type="submit" class="btn btn-dark">Ingresar</button>
    </div>
  </form>
  
</div>

